h2{
    text-align: center;
}
.formulario{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.green-border textarea {
    border: 1px solid #8bc34a;
}

#results {
	padding-left: 10px;
}
